<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 centered">
						<h3 th:text="#{jobs.long_title}"></h3>
						<hr />
						<p th:text="#{jobs.description}"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="container" th:include="proxyInfo::proxyInfo"></div>

		<div class="container pt">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#submit" role="tab" data-toggle="tab" th:text="#{jobs.post.title}"></a></li>
				<li><a href="#list_all" role="tab" data-toggle="tab" th:text="#{jobs.get_all.title}"></a></li>
				<li><a href="#list_one" role="tab" data-toggle="tab" th:text="#{jobs.get.title}"></a></li>				
				<li><a href="#delete" role="tab" data-toggle="tab" th:text="#{jobs.delete.title}"></a></li>
				<li><a href="#abort" role="tab" data-toggle="tab" th:text="#{jobs.abort.title}"></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade in active" id="submit">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/jobs</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">POST</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em th:text="#{example.url_params.none}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td>
								<p>
									<strong th:text="|#{example.json}:|"></strong>									
								</p>
								<pre th:text="#{jobs.post.data_params}"></pre>
								<p>
									<div class="alert alert-warning">
										<span th:utext="#{jobs.post.working_directory.warning}"></span>
									</div>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "host": "prometheus.cyfronet.pl",
  "working_directory": "/people/username/testjob",
  "script": "#!/bin/bash\necho hello\nexit 0"
}
  								</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">201</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "job_id":"50463091.batch.grid.cyf-kr.edu.pl",
  "stdout_path":"/stdout/path",
  "stderr_path":"/stderr/path",
  "status":"QUEUED",
  "tag":null
}
  								</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
{
  "status":"error",
  "exit_code":-1,
  "standard_output":"whatever was printed before timeout",
  "error_output":"",
  "error_message":"timeout occurred...",
  "tag":null
}
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> 
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X POST --data '{"host":"prometheus.cyfronet.pl", "script":"#!/bin/bash\n#SBATCH -A {grantid}\necho hello\nexit 0"}' \
--header "Content-Type:application/json" --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs}" />

curl -k -X POST --data '{"host":"ares.cyfronet.pl", "script":"#!/bin/bash\n#SBATCH -A {grantid}\necho hello\nexit 0"}' \
--header "Content-Type:application/json" --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs}" />

curl -k -X POST --data '{"host":"athena.cyfronet.pl", "script":"#!/bin/bash\n#SBATCH -A {grantid}\necho hello\nexit 0"}' \
--header "Content-Type:application/json" --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs}" />
							    </pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{jobs.post.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="list_all">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/jobs?tag={tag}&format={short}&job_id={id1}&job_id={id2})</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td>
								<ul>
									<li><em>tag</em> - <span th:text="#{jobs.statuses.param.tag}"></span></li>
									<li><em>format</em> - <span th:text="#{jobs.statuses.param.format}"></span></li>
									<li><em>job_id</em> - <span th:text="#{jobs.statuses.param.job_ids}"></span></li>
								</ul>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{jobs.get_all.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<div class="alert alert-warning">
										<span th:utext="#{jobs.get.history_information}"></span>
									</div>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
[
  {
    "job_id":"50463091.batch.grid.cyf-kr.edu.pl",
    "stdout_path":"/stdout/path",
    "stderr_path":"/stderr/path",
    "status":"QUEUED",
    "tag":null
  }, {
    "job_id":"61473291.batch.grid.cyf-kr.edu.pl",
    "stdout_path":"/stdout/path",
    "stderr_path":"/stderr/path",
    "status":"FINISHED",
    "tag":null
  }, {
    "job_id":"34532479.batch.grid.cyf-kr.edu.pl",
    "stdout_path":"/stdout/path",
    "stderr_path":"/stderr/path",
    "status":"FINISHED",
    "tag":null,
    "nodes": "1",
    "cores": "12",
    "start_time": "2015-01-07 15:00:11",
    "end_time": "2015-01-07 15:01:11",
    "wall_time": "00:01:00",
    "queue_time": "00:10:00"
  }
]
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
{
  "status": "error",
  "exit_code": 0,
  "standard_output": "",
  "error_output": "",
  "error_message": "Job with 1234.batch.grid.cyf-kr.edu.pl not found",
  "tag":null
}
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs}" />
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{jobs.get_all.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="list_one">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/jobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{jobs.get.job_id}"></span></td>
							
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{jobs.get.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<div class="alert alert-warning">
										<span th:utext="#{jobs.get.history_information}"></span>
									</div>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
{
  "job_id":"50463091.batch.grid.cyf-kr.edu.pl",
  "stdout_path":"/stdout/path",
  "stderr_path":"/stderr/path",
  "status":"QUEUED",
  "tag":null,
  "nodes": "1",
  "cores": "12",
  "start_time": "2015-01-07 15:00:11",
  "end_time": "2015-01-07 15:01:11",
  "wall_time": "00:01:00",
  "queue_time": "00:10:00"
}
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
{
  "status": "error",
  "exit_code": 0,
  "standard_output": "",
  "error_output": "",
  "error_message": "Job with 1234.batch.grid.cyf-kr.edu.pl not found",
  "tag":null
}
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs/50463091.batch.grid.cyf-kr.edu.pl}" />
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em>None</em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="delete">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/jobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">DELETE</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{jobs.delete.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{jobs.delete.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<strong th:text="|#{example.code}:|"></strong>
								<em class="label label-success">204</em>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
{
  "status": "error",
  "exit_code": 0,
  "standard_output": "",
  "error_output": "",
  "error_message": "Job with 1234.batch.grid.cyf-kr.edu.pl not found",
  "tag":null
}
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X DELETE --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs/50463091.batch.grid.cyf-kr.edu.pl}" />
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{jobs.delete.notes}"></em></td>
						</tr>
					</table>
				</div>
				
				<div class="tab-pane fade" id="abort">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/jobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">PUT</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{jobs.delete.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td>
								<p>
									<strong th:text="|#{example.json}:|"></strong>
								</p><pre th:text="#{jobs.put.action_params}"></pre><p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "action": "abort"
}
  								</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<strong th:text="|#{example.code}:|"></strong>
								<em class="label label-success">204</em>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": 0,
  "standard_output": "",
  "error_output": "",
  "error_message": "Job with 1234.batch.grid.cyf-kr.edu.pl not found",
  "tag":null
}
  								</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X PUT --data '{"action":"abort"}' --header "Content-Type:application/json" --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs/50463091.batch.grid.cyf-kr.edu.pl}" />
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{jobs.delete.notes}"></em></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>