<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>
	<div id="wrapper" layout:fragment="content">
		<!-- +++++ Welcome Section +++++ -->
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">						
						<h1 th:text="#{rimrock.long_name}"></h1>
						<p th:text="#{rimrock.description}"></p>
					</div>
				</div>
			</div>
		</div>

		<!-- +++++ Projects Section +++++ -->
		<div class="container pt">
			<div class="row mt centered">
				<div class="col-lg-4 col-lg-offset-2">
					<a class="zoom gray" th:href="@{/processes}">
					<img class="img-responsive" th:src="@{/img/processes.png}" alt=""/></a>
					<p th:text="#{processes.title}"></p>
				</div>
				<div class="col-lg-4">
					<a class="zoom gray" th:href="@{/jobs}">
					<img class="img-responsive" th:src="@{/img/jobs.png}" alt=""/></a>
					<p th:text="#{jobs.title}"></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>